body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Silkscreen', sans-serif;
  background-color: #e6e6e6;
}

h1, h2 {
  text-align: center;
}

h2 {
  margin-top: -1rem;
}

.small {
  font-size: 0.8rem;
}
.grid {
  display: grid;
  margin: 0 auto;
  min-height: 50vmin;
  grid-template-columns: repeat(10, minmax(30px, 1fr));
  grid-template-rows: repeat(10, minmax(30px, 1fr));
  gap: 2px;
  background-color: #000;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  color: #000;
  aspect-ratio: 1;
}
.grid .cell {
  background-color: rgb(250, 255, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.grid .visited {
  background-color: rgb(210, 247, 222);
}
.grid .obstacle {
  font-size: 1.8rem;
}
.grid .arrow:after {
  /*\25BA \25BC \25C0 \25B2'*/
  content: '\25BA';
  position: absolute;
  font-size: 0.7rem;
}
.grid .right:after {
  transform: translate(1.1rem, 0);
}
.grid .left:after {
  transform: translate(-1.1rem, 0) rotate(180deg);
}
.grid .down:after {
  transform: translate(0, 1.1rem) rotate(90deg);
}
.grid .up:after {
  transform: translate(0, -1.1rem) rotate(270deg);
}

.controls {
  font-family: 'Silkscreen', sans-serif;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.stats a {
  color: #333;
  text-decoration: none;
}
.stats .col {
  display: flex;
  flex-direction: column;
}
.stats .col > * {
  margin-bottom: 0.5rem;
}
.stats .sep {
  padding: 0.4rem;
}
.stats .num {
  display: inline-block;
  width: 1rem;
  text-align: right;
}
.stats .selected {
  font-weight: bold;
}
.credit {
  text-align: right;
  margin-bottom: 1rem;
}
.credit a {
  color: #2a9ca7;
  text-decoration: none;
}

/* CSS */
.button {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #ffffff;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1.2rem;

  &.selected {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
}

.btn-container {
  width: 2.6rem;
  height: 1.6rem;
}
.play {
  box-sizing: border-box;
  height: 2rem;
  border-style: solid;
  border-width: 1rem 0 1rem 1.8rem;
  border-color: transparent transparent transparent #202020;
  padding: 0;
  cursor: pointer;
  background-color: transparent;

  &.paused {
    border-style: double;
    border-top-width: 0;
    border-bottom-width: 0;
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  body {
    font-size: 0.9rem;
  }
  .grid {
    /*height: 70vmin;*/
  }
  .button {
    font-size: 0.9rem;
  }
  .btn-container {
    width: 2.4rem;
  }
}
